/*
 * Decorational CSS is considered to be:
 *     color, background-color, border, list-style, shadows and similar codes.
 */

/* GENERIC decorations */
body {
    background-color: #e5e5e5;
    color: #000;
}

a { color: #3C769D; /* #457; */ }

h1 {
    color: #fff;
}

h1 a { color: #fff; }

.placeholder {
    border: 1px solid #fcefa1;
    background-color: #fbf9ee;
    color: #363636;
}

/* HEADER decorations */
header {
    color: #fff;
    background-color: #2E2924; /* #483E37; */
    border-bottom: 4px solid #76A83A;
}

header a { color: #fff; }

header ul li {
    list-style-type: none;
}

/* NAVIGATIONAL decorations */
nav ul li a:hover {
    color: #123;
    background-color: #76A83A;
}

nav ul li a:link, nav ul li a:visited {
    color: #000;
    background-color: #e5e5e5; /* #A28C6A; */

    -moz-border-radius: 6px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 6px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
}

nav ul li.current a {
    color: #123;
    background-color: #76A83A;
}

/* CONTENT decorations */
#page-content {
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;

    background-color: #fff;
}

#page-content h1 {
    color: #fff;
    background-color: #2E2924; /*#988060;*/

    border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
}

#page-content .form-area { background-color: #ddd; }
#page-content .form-area .error-with-field .error { color: #f00; }
#page-content .form-area .pages .title { padding: 10px 0px 19px 0px; }
#page-content table.fieldset td { background-color: white; border-color: #ccc; }
#page-content table.fieldset td.label .optional { color: #929488; }
#page-content table.fieldset td.help { background-color: #eee; }
#page-content table.fieldset .error-with-field small { color: red; }
#page-content form fieldset { margin-top: 1em; }
#page-content table.index { border-color: #ddd; }
#page-content table.index th { background-color: #f5f5f5; }
#page-content table.index td { border-color: #ddd; }
#page-content table.index .node .user small { color: #666; }
#page-content .index .node:hover,
#page-content .index .even:hover, 
#page-content .index .odd:hover { background-color: #e5e5e5;}
#page-content table.index .node a,
#page-content table.index .node a:visited,
#page-content table.index .node a,
#page-content table.index .node a:visited { color: #000;}
#page-content table.index td.note { color: silver; }

/* SIDEBAR decorations */
#sidebar h2 {
    border-bottom: 1px solid #ddd;
}

#sidebar .box {
    margin-bottom: 1.25em;
    background: #fff;
    border-bottom: 2px solid #2E2924; /*#58b;*/

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
        
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
}

#sidebar p.button {
    margin-bottom: 1.25em;
    background: #76A83A; /*#59c;*/

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
        
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;

}

#sidebar p.button:hover {
    box-shadow: 0px 0px 0px #aaa;
    -moz-box-shadow: 0px 0px 0px #aaa;
    -webkit-box-shadow: 0px 0px 0px #aaa;
}

#sidebar p.button img {
    background: #2E2924; /*#9ce;*/

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#sidebar p.button a {
    color: #fff;

    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#sidebar p.button a:hover {
    color: #123;
}

#sidebar .this {
    color: #999;
}

#sidebar .optional {
    color: #666;
} 

/* FOOTER decorations */
footer {
    color: #555;
}

footer .stats { 
    color: #777;
}

/* USER CONTROL decorations */
#user-controls {
    color: #888;
}

#user-controls a, #user-controls a:visited { color: #fff; /*#e5e5e5;*/ }

a#site-view-link:visited { color: #fff; }

a#site-view-link {
    color: #fff;
    background-color: #76A83A; /*#a28c6a;*/

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

a#site-view-link:hover {
    color: #000;
}

/* SNIPPETS & LAYOUT INDEX decorations */
#page-content ul#snippets, #page-content ul#layouts { margin-top: 0px; list-style: none; }
/*#page-content ul#snippets li, #page-content ul#layouts li {
    border-top: 1px solid #e5e5e5;
}*/

#page-content ul li {
    border-top: 1px solid #e5e5e5;
}

#page-content .index-def .snippet, #page-content .index-def .layout, #page-content .index-def .modify,
#site-map-def .page, #site-map-def .status, #site-map-def .view, #site-map-def .modify,
#comments-def .page, #comments-def .status, #comments-def .view, #comments-def .modify {
    padding: 1em;
    padding-right: 0em;
    background-color: #f0f0f0;
}


/* FILES */
#page-content table {
    display: table;
    width: 97%;
    margin: 1.3em auto;
    padding: 1em;
}

#page-content table thead tr th {
    background-color: #f0f0f0;
    text-align: left;
    padding: 0.5em 1em;
    height: 45px;
}

#page-content table tbody tr td {
    padding: 0.5em 1em;
    height: 45px;
    border-top: 1px solid #e5e5e5;
}