/* Reset ------------------------------------------------------------------ */
body {background-color: #221E1E;}
html,body,div,ul,ol,li,dl,dt,dd,form,fieldset,input,select,textarea,pre,code,
h1,h2,h3,h4,h5,h6,p,blockquote,hr,table,th,td {margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6 {font-size: 100%; font-weight: normal;}
ul {list-style: none;}
html,body,a img {border: 0;}
table {border-collapse:collapse; border-spacing:0;}

body {
    background-color: #e5e5e5;
    color: #000;
    font-size: 95%;
    font-family: "Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
}

a { color: #457; }

h1 {
    color: #fff;
    background-color: #988060;
    text-shadow: -1px 2px 3px #111;
}

h1 a { color: #fff; }

.right {
    float: right;
}


header {
    display: block;
    color: #fff;
    background-color: #483E37;
    border-bottom: 4px solid #E5E5E5;
    height: 100px;
}
header a { color: #fff; text-decoration: none; }
header a:hover { text-decoration: underline; }
header div#logo {
    font-size: 150%;
    font-weight: bold;
    padding-top: 19px;
    padding-left: 20px;
    adding-bottom: 20px;
    text-shadow: -1px 2px 3px #111;
}
header ul li {
    list-style-type: none;
    display: inline;
}

#user-controls {
  color: #888;
  font-size: 70%;
  margin: 0;
  position: absolute;
  right: 30px;
  top: 20px;
}
#user-controls a, #user-controls a:visited { color: #e5e5e5; }
#site-view-page { color: #fff; }
a#site-view-link {
  background-color: #a28c6a;
  padding: 0.2em 0.4em;
  vertical-align: middle;

  border-radius: 3px;
  -moz-border-radius: 3px; /* Mozilla Firefox */
  -webkit-border-radius: 3px; /* All WebKit Browsers, Safari, Chrome */
}

a#site-view-link:hover {
    background-color: #76A83A;
    color: #000;
}

nav ul { padding: 0em 1.5em; }
nav ul li {
    position: relative;
    top: -28px;
    float: left;
    margin-right: 5px;
}

nav ul li a:link, nav ul li a:visited {
    color: #000;
    background-color: #F5F5F5;
    padding: 6px 8px 5px 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    text-decoration: none !important;
    -moz-border-radius: 6px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 6px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
}

nav ul li a:hover {
    color: #123;
    background-color: #66AADD;
}

nav ul li.current a {
    color: #123;
    background-color: #66AADD;
    font-weight: bold;
    text-decoration: none;
}

nav .counter { display: none; }

section#content {
    display: block;
    margin: 1em 1.8em 1em 1.5em;

    /* Border-radius - implemented. */
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;

    /* Box-shadow - implemented. */
    box-shadow: 5px 3px 4px #aaa;
    -moz-box-shadow: 5px 3px 4px #aaa;
    -webkit-box-shadow: 5px 3px 4px #aaa;
    
    background-color: #9ce;
    padding-bottom: 1em;
}

section#content h1 {
    /* Border-radius not implemented yet */
    border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    color: #fff;
    background-color: #988060;
    text-shadow: -1px 2px 3px #111;
    padding: 10px 20px;
    font-size: 1.5em;
}

footer {
    clear: both;
    font-size: 80%;
    margin: 0em 1.5em;
    color: #555; padding: 0px;
}

footer .stats { 
    font-size: 90%;
    color: #777;
}


/* CLEAN UP */

section#content section#page_content #site-map-def,
section#content section#page_content #site-map-root {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#site-map-root .node.level-0 .page,
#site-map .node.level-1 .page,
#site-map .node.level-2 .page {
  font-size: 120%;
  font-weight: bold;
}
#site-map .node.level-1 .page { margin-left: 10px; }
#site-map .node.level-2 .page { font-size: 115%; margin-left: 40px; }
#site-map .node.level-3 .page { font-size: 110%; margin-left: 70px; }
#site-map .node.level-4 .page { font-size: 105%; margin-left: 100px; }
#site-map .node.level-5 .page { margin-left: 130px; }
#site-map .node.level-6 .page { margin-left: 160px; }
#site-map .node.level-7 .page { margin-left: 190px; }
#site-map-root .node .page a,
#site-map .node .page a {
  text-decoration: none;
}
#site-map-root .page a .title,
#site-map .page a .title,
#site-map .node .page a:visited .title {
  color: #000;
  text-decoration: none;
}
#site-map .node .page .title.protected {
  color: #9eb3bf;
}
#site-map-root .node .page a:hover .title,
#site-map .node .page a:hover .title,
#site-map .node .page a:visited:hover .title {
  text-decoration: underline;
}
#site-map .node .page .info {
  color: #9eb3bf;
  font-style: italic;
  font-weight: normal;
}
#site-map .no-children .w1 { padding-left: 23px; }
#site-map-root .page .title,
#site-map .page .title,
#site-map .page .info {
  position: relative;
  top: 5px;
}
.site-map-placeholder {
    height: 30px;
    background-color: #eee;
    margin: 0px;
}
#site-map .page img.expander {
  padding: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
}
#site-map-def { margin-top: 20px; position: relative; }
#site-map-def .page {}
#site-map-def .status { position: absolute; text-align: center; top: 0; right: 175px; width: 100px }
#site-map-def .view { position: absolute; text-align: center; top: 0; right: 100px; width: 75px }
#site-map-def .modify { position: absolute; text-align: center; top: 0; right: 5px; width: 85px; }
#site-map-def .tag { position: absolute; top: 0; right: 375px; width: 150px; }
#site-map-def div {
  padding: 2px 0px;
  font-size: 90%;
  font-weight: normal;
  background-color: #f5f5f5;
}
#site-map-root {
  font-size: 90%;
}
#site-map {
  border-bottom: 1px solid #ddd;
  font-size: 90%;
}
#site-map-root li,
#site-map li {
  padding: 2px 0;
  position: relative;
  border-top: 1px solid #ddd;
}
#site-map-root li:hover {
  background-color: #ffffff;
}
#site-map-root #page-0 .page:hover,
#site-map-root li.hover,
#site-map li:hover,
#site-map li.hover {
  background-color: #f5f5f5;
}
#site-map ul { list-style: none; margin:0; padding:0; background: #fff; }
#site-map .page, #site-map-root .page {}
#site-map .status, #site-map-root .status { position: absolute; text-align: center; top: 10px; right: 175px; width: 100px }
#site-map .view-page, #site-map-root .view-page { position: absolute; text-align: center; top: 10px; right: 100px; width: 75px }
#site-map .modify, #site-map-root .modify { position: absolute; text-align: center; top: 10px; right: 7px; width: 85px }
#site-map .modify img, #site-map-root .modify img {vertical-align: middle;}
#site-map .status { color: #9eb3bf; }
#site-map .status.draft-status { color: #c00; }
#site-map .status.published-status { color: #000; }
#site-map .status.hidden-stats { color: #0c0; }